<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/admin-style.css">
</head>
<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Admin</span>
        </a>
        <ul class="side-menu top">
            <li class="@(ViewData["Title"] == "Startsida" ? "active" : "")">
                <a href="@Url.Action("Index", "Form")">
                    <i class='bx bxs-home'></i>
                    <span class="text">Startsida</span>
                </a>
            </li>
            <li class="@(ViewData["Title"] == "Hantera Admins" ? "active" : "")">
                <a href="@Url.Action("ManageAdmins", "Admin")">
                    <i class='bx bxs-user-plus'></i>
                    <span class="text">Hantera Admins</span>
                </a>
            </li>
            <li class="@(ViewData["Title"] == "Hantera Yrken" ? "active" : "")">
                <a href="@Url.Action("ManageProfessions", "Admin")">
                    <i class='bx bxs-briefcase'></i>
                    <span class="text">Hantera Yrken</span>
                </a>
            </li>
            <li class="@(ViewData["Title"] == "Hantera Hus" ? "active" : "")">
                <a href="@Url.Action("ManageBuildings", "Admin")">
                    <i class='bx bxs-building-house'></i>
                    <span class="text">Hantera Hus</span>
                </a>
            </li>
            <li class="@(ViewData["Title"] == "Hantera Avdelning" ? "active" : "")">
                <a href="@Url.Action("ManageDepartments", "Admin")">
                    <i class='bx bxs-door-open'></i>
                    <span class="text">Hantera Avdelning</span>
                </a>
            </li>
        </ul>
    </section>

    <!-- END SIDEBAR -->
    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">@ViewData["Title"]</a>
        </nav>
        <!-- END NAVBAR -->
        <!-- MAIN CONTENT -->
        <main>
            @RenderBody()
        </main>
        <!-- END MAIN CONTENT -->
    </section>
    <!-- END CONTENT -->

</body>
</html>
