<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/admin-style.css">
</head>
<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Admin</span>
        </a>
        <ul class="side-menu top">
            <li class="@(ViewData["Title"] == "Dashboard" ? "active" : "")">
                <a href="@Url.Action("ManageAdmins", "Admin")">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="@(ViewData["Title"] == "Manage Admins" ? "active" : "")">
                <a href="@Url.Action("ManageAdmins", "Admin")">
                    <i class='bx bxs-user-plus'></i>
                    <span class="text">Manage Admins</span>
                </a>
            </li>
            <li class="@(ViewData["Title"] == "Manage Professions" ? "active" : "")">
                <a href="@Url.Action("ManageProfessions", "Admin")">
                    <i class='bx bxs-briefcase'></i>
                    <span class="text">Manage Professions</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- END SIDEBAR -->
    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">@ViewData["Title"]</a>
        </nav>
        <!-- END NAVBAR -->
        <!-- MAIN CONTENT -->
        <main>
            @RenderBody()
        </main>
        <!-- END MAIN CONTENT -->
    </section>
    <!-- END CONTENT -->

</body>
</html>
